.metadata\*
indexNamesMap.txt
.gitignore
*.tmp
*.class

# Package Files #
*.jar
*.war
*.ear

# Other files #
*.xml
*.classpath
*.project
*.prefs
*.ini
*.lock
*.log
*.gen
*.zip
segments_1
*d00131683b379e3702b29
*.index
*.version
*.markers
*.tree
*.dat
*.resources
*.launch
*.xmi
*TimeStamps
*Cache
*.running
javaLikeNames.txt
savedIndexNames.txt
*.png
*.jpg